body {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
/*top-menu*/
.main-header {
	margin-bottom: 60px;
}
.top-menu-color {
	background-color: #293449;
}
.top-menu {
	display: flex;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}
.search-form,
.shop-bookmarks-button,
.shop-busket-button {
	background-color: #293449;
	color: #ffffff;
	opacity: 1;
}
.search-form:hover,
.shop-bookmarks-button:hover,
.shop-busket-button:hover {
	background-color: #212a3a;
	color: #ffffff;
	opacity: 1;
}
.search-form:active,
.shop-bookmarks-button:active,
.shop-busket-button:active {
	background-color: #161d29;
	color: #ffffff;
	opacity: 0.6;
}
.shop-logo {
	position: relative;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 8px 0;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	background-color: #cd3944;
	color: #ffffff;
}
.shop-logo:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -5px;
    background-color: #b52933;
}
.shop-logo:hover {
	background-color: #ae2f39;
	color: #ffffff;
}
.shop-logo:active {
	background-color: #a02c35;
	color: #ffffff;
}
.search-form {
	display: block;
	width: 270px;
	align-items: center;
	padding: 12px 0; 
}
.right-buttons {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
}
.right-buttons .shop-bookmarks-button {
	position: relative;
	width: 110px;
    padding: 12px 0 12px 40px;
    font-size: 17px;
    line-height: 18px;
}
.right-buttons .shop-busket-button {
	position: relative;
    width: 110px;
    padding: 12px 0 12px 40px;
    font-size: 17px;
    line-height: 18px;
}
.shop-order-button {
	background-color: #7aa448;
	color: #ffffff;
	width: 150px;
    text-align: center;
    padding: 12px 0;
    font-size: 17px;
    line-height: 18px;
}
.shop-order-button:hover {
	background-color: #81ba3f;
	color: #ffffff;
}
.shop-order-button:active {
	background-color: #63843d;
	color: #ffffff;
}
.shop-bookmarks-button::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 16px;
	top: 12px;
  	left: 15px;
	background-image: url("../img/bookmark.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}
.shop-busket-button::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	top: 12px;
  	left: 15px;
	background-image: url("../img/cart.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}
.shop-bookmarks-button:hover::before,
.shop-busket-button:hover::before {
  	opacity: 1;
}
.shop-bookmarks-button:focus::before,
.shop-busket-button:focus::before {
	opacity: 0.5;
}
.shop-bookmarks-button:active::before,
.shop-busket-button:active::before {
	opacity: 0.3;
}
/*middle-header*/
.color-main {
	background-color: #f3f7f9;
	padding-bottom: 60px;
}
.header-content {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}
.header-content .page-title {
	display: flex;
	font-size: 16px;
	line-height: 23px;
	color: #cd3944;
	font-style: italic;
	min-width: 132px;
    margin: 0 0 43px 52px;
}
.header-telephone {
	position: relative;
	color: #cd3944;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid white;
	padding: 9px 48px 9px 70px;
}
.header-content p {
	color: #3a445b;
}
.adress {
	display: flex;
	flex-direction: column;
	margin-left: 70px;
	min-width: 270px;
}
.button {
	display: flex;
	justify-content: flex-end;
	text-align: center;
	font-size: 21px;
    line-height: 18px;
    height: 45px;
}
.enter-button,
.registration-button {
	color: #000000;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
}
.enter-button:hover,
.registration-button:hover {
	color: #ee3643;
	background-color: #ffffff;
}
.enter-button:active,
.registration-button:active {
	color: #000000;
	opacity: 0.3;
	background-color: #ffffff;
}
.enter-button-style {
	position: relative;
}
.enter-button {
	padding: 12px 26px 12px 45px;
	margin-right: 10px;
}
.enter-button::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 17px;
	color: red;
	top: 1px;
  	left: 15px;
	background-image: url("../img/icon-login.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}
.enter-button:hover::before {
	color: #32425c;
}
.registration-button-style {
	display: block;
}
.registration-button {
    padding: 12px 24px 12px 24px;
    width: 150px;
}
.button li {
	list-style: none;
}
/*header-navigation*/
.main-navigation {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 5px solid #293449;
	background-color: #32425c;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	flex-direction: row;
	align-items: flex-start;
	min-height: 41px;
	vertical-align: middle;
	padding: 0 23px;
}
.main-navigation-item {
	list-style: none;
	display: block;
	padding: 16px 30px 15px;
	vertical-align: middle;
}
.main-navigation a:hover {
	color: #f2f3f4;
	background-color: #303749; 
}
.main-navigation a:active {
	color: #8c8e94;
	background-color: #252b3b;
}
/*header catalog*/
.user-login,
.user-registration {
	color: #3a445b;
	font-size: 16px;
	line-height: 18px;
}
.user-account {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}
/*main*/
.offers {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 51px;
	justify-content: space-between;
}
.box {
	display: flex;
	width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
    flex-direction: column;
}
.box span {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	padding-left: 22px;
	padding-top: 25px;
}
.box .button {
    width: 135px;
    height: 38px;
    margin: 0 0 25px 22px;
    background-color: rgba(229,229,229,0.1);
}
.button {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3%;
    text-transform: uppercase;
    margin-top: 15px;
}
.materials {
	position: relative;
    margin-right: 20px;
    background: #ffbf47 url("../img/icon-1.svg") no-repeat 87% 53%;
}
.tools {
	background: #3bbce3 url("../img/icon-2.svg") no-repeat 87% 53%;
}
.equipment {
	background: #dc91d8 url("../img/icon-3.svg") no-repeat 87% 53%;
}
.discount {
	background: #8ed78f url("../img/icon-4.svg") no-repeat 87% 53%;
}
.delivery {
	background: #ffc047 url("../img/icon-5.svg") no-repeat 87% 53%;;
}
/*popular block*/
.popular-block {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
}
.popular-block h2 {
    font-size: 30px;
    line-height: 30px;
    margin-left: 28px;
    padding: 6px 0;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}
.popular-block .button {
	display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 3%;
    text-transform: uppercase;
    background-color: #ee3643;
    width: 253px;
    height: 38px;
    margin-right: 25px;
    margin-top: 0;
}

/*popular-products*/
.catalog-items {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.catalog-item {
    position:relative;
    display:inline-block;
    width:218px;
    margin-right:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-item .flag {
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
    z-index:20;
}
.catalog-item .flag-new {
    background:url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions {
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;

}
.catalog-item .actions .bookmark {
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}

.catalog-item .image {
    width:184px;
    height:164px;
}
.catalog-item .image img {
    max-width:100%;
}
.catalog-item .title {
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.catalog-item .discounts {
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price {
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after {
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}
.catalog-item:nth-child(4n){
    margin-right:0;
}
/*popular producers*/
.producers-block {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
}
.producers-block h2 {
    font-size: 30px;
    line-height: 30px;
    margin-left: 28px;
    padding: 6px 0;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}
.producers-block .button {
	display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 3%;
    text-transform: uppercase;
    background-color: #ee3643;
    width: 253px;
    height: 38px;
    margin-right: 25px;
    margin-top: 0;
}
.popular-producers-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.popular-producers-list li {
	display: flex;
	list-style: none;
	margin-top: 18px;
    border: 1px solid #e5e5e5;
    height: 143px;
}
.producers {
	margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}
/*services*/
.container-services {
	background-color: #f4f7f9;
	margin-top: 83px;
}
.services-list {
	padding-left: 0;
}
.services h2 {
    padding-top: 68px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    margin: 28px 0;
    color: #000;
    text-transform: uppercase;
}
.services p {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif; 
}
.services-information {
	position: relative;
    margin: 70px 0 54px 0;
    padding-bottom: 102px;
}
.services-information::after {
	position: absolute;
    content: "";
    height: 270px;
    width: 20px;
    left: 230px;
    top: -45px;
    background: url(../img/shadow.png) no-repeat;
}
.services-list input[type="radio"] {
    display: none;
}
.services-list li {
	list-style: none;
}
#button-1:checked ~ label[for=button-1], #button-2:checked ~ label[for=button-2], #button-3:checked ~ label[for=button-3] {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.services-list label {
    display: flex;
    width: 217px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    padding: 11px 0 17px 23px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    background-color: #32425c;
    color: #ffffff;
    cursor: pointer;
    text-transform: capitalize;
}
#button-1:checked ~ .slider .slider-content:nth-child(1), 
#button-2:checked ~ .slider .slider-content:nth-child(2), 
#button-3:checked ~ .slider .slider-content:nth-child(3) {
    display: block;
}
.slider h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 34px 0;
    color: #32425c;
}
.slider-content {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 620px;
    padding-bottom: 139px;
}
.slider-content:nth-child(1) {
    background: url("img/delivery.png") no-repeat 100% 47%;
}
.slider-content:nth-child(2) {
    background: url(../img/warranty.png) no-repeat 100% 0%;
}
.slider-content:nth-child(3) {
    background: url(../img/credit.png) no-repeat 100% 0%;
}
/*О компании*/
.about-company {
	background-color: #ffffff;
	color: #000000;
}
.about-company p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}
.about-company li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	position: relative;
    padding: 8px 0px 12px 0px;
}
.about-company a {
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}
.company-contacts {
	background-color: #ffffff;
	color: #000000;
	min-width: 300px;
	margin-left: 100px;
}
.company-contacts h2,
.about-company h2 {
	font-size: 30px;
	line-height: 30px;
    margin: 28px 0;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
} 
.company-contacts p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	width: 190px;
    margin-bottom: 32px;
}
.about-company .button {
	margin-top: 24px;
    width: 220px;
    height: 38px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3%;
    text-transform: uppercase;
    background-color: #ee3643;
}
.company-contacts .button {
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	margin-top: 12px;
    width: 300px;
}
/*footer block 1*/
.main-footer {
	background-color: #32425c;
}
.footer-top {
	background-color: #32425c;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
}
.company-container {
	display: flex;
}
.company-information {
	width: 540px;
    margin-bottom: 86px;
}
.contact-company {
	width: 300px;
}
.footer-contacts {
	display: flex;
	flex-direction: column;
}
.footer-contacts .shop-logo {
	padding: 16.5px 0;
    font-size: 30px;
    line-height: 30px;
}
.footer-contacts p {
	color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
    margin: 33px 0 50px 3px;
}
.footer-navigation li {
	list-style: none;
}
.footer-right li {
	list-style: none;
}
.footer-navigation a:hover {
	text-decoration: underline;
}
.footer-navigation a:active {
	color: #f1f5f7;
}
.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 36px;
}
.footer-menu a {
	color: #f3d084;
}
.footer-menu li {
	list-style: none;
}
.footer-menu a:hover {
	text-decoration: underline;
}
.footer-menu a:active {
	text-decoration: none;
	color: #f3d084
}
/*footer block 2*/
.footer-bottom {
	background-color: #30374a;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}
.social-button li {
	list-style: none;
}
.social-btn-vk {
    background-position: -1px -509px;
    background: #212a3a url(img/icon-vk.png) no-repeat;
}
.social-btn {
    width: 41px;
    height: 41px;
    font-size: 0;
    border-radius: 50%;
}
.footer-bottom-center {
	display: flex;
	justify-content: space-between;
	width: 130px;
    margin: 0 120px 0 161px;
}
.social-button a {
	background-color: #282e3c;
}
.social-button a:hover,
.social-button a:active {
	background-color: #cd3944;
}
.footer-bottom-right {
	display: flex;
}
.footer-bottom-right a {
	color: #f3d084;
}
.footer-bottom-right a:hover {
	text-decoration: underline;
}
.footer-bottom-right a:active {
	color: #cd3944;
}
/*catalog*/
.catalog-page  {
	font-family: "PT Sans", Arial, sans-serif;
	background-color: #ffffff;
	}
.breadcrumbs a {
	color: #000000;
	background-color: #ffffff;
	font-size: 13px;
	line-height: 18px;
}
.breadcrumbs li {
	list-style: none;
	text-transform: uppercase;
}
.catalog-page h1 {
	color: #3a445b;
	background-color: #f3f6f8;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
}
/*catalog-filter*/
.filter fieldset {
	border: none;
}
.filter-section h2 {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
}
.filter legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}
.filter-option {
	list-style: none;
}
.filter-option label {
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}
.filter-button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
}
.filter input:disabled {
	color: rgba(0, 0, 0, 0.4);
}
/*catalog-items*/
.catalog-list {
	list-style: none;
	background-color: #ffffff;
}
.catalog-list span {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}
.catalog-list .button {
	color: #ffffff;
	background-color: #ee3643;
	font-size: 17px;
	line-height: 18px;
}
.previous-price del {
	color: #989898;
	background-color: #ffffff;
}
.catalog-list-item .buy {
	font-family: "Cuprum", Arial, sans-serif;
	color: #ffffff;
	background-color: #7aa448;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}
.catalog-list-item .buy:hover {
	background-color: #81ba3f;
}
.catalog-list-item .buy:active {
	background-color: #63843d;
}
.catalog-list-item .bookmark {
	font-family: "Cuprum", Arial, sans-serif;
	color: #3a445b;
	font-size: 14px;
	line-height: 18px;
	background-color: #ffffff;
	border: 2px solid #7aa448;
	text-transform: uppercase;
}
.catalog-list-item .bookmark:hover {
	color: #3a445b;
	border: 2px solid #3a445b;
}
.catalog-list-item .bookmark:active {
	color: #c4c7cd;
	border: 2px solid #c4c7cd;
}
/**/
.modal-dialog {
	display: none;
}
/*header-position*/
.footer-top {
	display: flex;
	justify-content: space-between;
	min-height: 192px;
}
.footer-right {
	width: 550px;
}
.footer-navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	padding-left: 24px;
	margin-top: 40px;
}

.footer-bottom .wrapper {
	display: flex;
    align-items: center;
    height: 107px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
}
.footer-copyright {
	width: 230px;
}
.footer-bottom-center {
	display: flex;
	width: 130px;
    margin: 0 120px 0 161px;
}
p.communication {
	width: 140px;
    margin-right: 48px;
}
p.copyright {
	width: 100px;
}
p.footer-contact {
	font-size: 18px;
    margin: 33px 0 50px 3px;
}